@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.card {
    display: flex;
    flex-direction: column;
    border: 1.25px solid #f4f4f6;
    border-radius: 30px;
    width: 400px;
    height: 300px;
    box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.7);
    background: #fff;
}

.card:hover {
    animation: bounce 0.5s ease;
}

.card__img-top {
    border-radius: 30px 30px 0 0;
    width: 400px;
    height: 176px;
    cursor: pointer;
}

.card__text {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    margin-top: 10px;
}

.card__info {
    display: flex;
    flex-direction: row;
    margin-left: 34px;
    max-width: 50%;
}

.card__tag {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3px 6px;
    font-family: Poppins-Regular, sans-serif;
    font-size: 12px;
    color: #daa31a;
    background: #f7edd0;
    border-radius: 5px;
    width: 44px;
    height: 26px;
}

.card__title {
    display: flex;
    flex-direction: row;
    gap: 62px;
    font-family: Poppins-SemiBold, sans-serif;
    font-size: 26px;
    margin-top: 3px;
    line-height: 140%;
    color: #323142;
    cursor: pointer;
}

.card__img-bookmark {
    opacity: 0;
    cursor: pointer;

    transition: opacity 0.5s ease;
}

.card:hover .card__img-bookmark {
    opacity: 1;
}

.card__info-text {
    font-family: Manrope-Regular, sans-serif;
    font-size: 20px;
    line-height: 136%;
    color: #8e97a6;
}

.card__img-star {
    margin-bottom: 22px;
    margin-left: 2px;
    margin-right: 3px;
}