.container {
    /*
        При использовании max-width: 1246px; контент липнет к границам,
        поэтому применяем более гибкий подход, используя padding
    */
    max-width: 1286px;
    padding: 0 20px;
    margin: 0 auto;
}

.container--wrapper {
    max-width: 1286px;
    padding: 0 20px;
    margin: 0 auto;
    overflow-x: clip;
}

.container--grey {
    background: #EAEAEA;
    padding-top: 45px;
}
